.social-icon-box{
    width:100%;
    height:12vh;
    background-color:#fc76765f;
    transform:translateY(40px);
    transition:0.5s;
    opacity:0;
    
}
.social-icon-box p{
    transform:scale(1);
    transition:0.5s;
    cursor: pointer;
}
.social-icon-box p:hover{
    transform:scale(0.8);
    color:#FC7676;
}
.member-full-box{
    cursor: pointer;
    transition:0.5s;
}
.member-full-box:hover .social-icon-box{
    transform:translateY(0px);
    opacity:1;
}
.member-info{
    position: relative;
}
.member-info::before{
    position: absolute;
    content:"";
    height:100%;
    width:2px;
    background-color:#FC7676;
    top:6px;
    left:-1px;
    transition:0.5s;
}
.member-full-box:hover .member-info::before{
    width:40px;
    background-color:#fc767668;
}